.container--slider::-webkit-scrollbar{
    display: block;
    width: 4px;
} 
.container--slider::-webkit-scrollbar-track{
    background-color: transparent;
}
.container--slider::-webkit-scrollbar-thumb{
    background-color: rgba(128,128,128,0.3);
    width: 4px;
    border-radius: 8px;
}
.container--card{
    width: 30vw;
    height: 30vh;
    min-width: 200px;
}
.mentor-card img{
    width: 100px;
    height: 100px
}


.course-container--img{
    height: 50vh;
    width: 60vw;

}
.course-container--text{
    width: 60vw;
}
.ProyectVideo{
    padding-bottom: 30%;
}
.backgroundVideo{
    padding-bottom: 30%;
}
.container-detail{
    width: 30%;
}
.proyect--text{
    width: 30%;
}
