:root{
    /*colores*/
    --background: #003C5B;
    --text: #FFFFFF;
    --naranja: #DD833A;
    --gris: #CCE1F4;
  
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--background);
}
@font-face {
    font-family: "AlegreyaSans";
    src: url("../assets/fonts/ALEGREYA/AlegreyaSans-Bold.ttf");
}
@font-face {
    font-family: "Vollkorn";
    src: url("../assets/fonts/VOLLKORN/Vollkorn-Medium.ttf");
    
}
html{
    font-size: 62.5%;
    font-family: 'Vollkorn'
}
header{
    position: fixed;
    width: 100vw;
    height: auto;
    min-width: 320px;
    min-height: 87px;
    max-height: 300px;
    overflow: hidden;
    z-index: 1;
}

header .tdc-logo{
    position: absolute;
    width: 167px;
    height: 55px;
    margin-top: 13px;
    top: 0;
    left: calc(50% - 84px);
    background-color: transparent;
}
header video{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
/*section2*/
.main-container{
    width: 90%;
    height: auto;
    min-width: 320px;
    margin: 0 auto;
    text-align: center;
    
}
.container--title{
    font-family: "AlegreyaSans";
    width: 100%;
    min-width: 288px;
    height: auto;
    margin: 27px auto 0;
    
}
.container--title h2{
    font-size: 2rem;
    font-weight: bold;
    line-height: 2.4rem;
    color: var(--text);text-align: left;
}

.container--slider{
    display: flex;
    gap: 15px;
    height: auto;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.container--slider::-webkit-scrollbar{
    display: none;
} 
.container--card{
    position: relative;
    width: 15vw;
    height: 15vh;
    min-width: 114px;
    min-height: 150px;
    margin: 11px auto 0;
    background-color: var(--text);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(17, 17, 16, 0.16);
}
.container--card img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    color: var(--text);
    background-color: transparent;
}
.overlay p{
    background-color: transparent;
}

.description{
    width: 90%;
    margin: 0 auto;
}
.description p{
    margin-top: 35px;
    color: var(--text);
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.7rem;
    text-align: justify;
}


/*footer*/
footer{
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.container-footer{
    width: 90%;
    margin: 35px auto 20px;    
}
.container-footer ul{
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.7rem;
    letter-spacing: 1px;
    list-style: none;
}
.container-footer li{
    color: var(--naranja);
    font-weight: 700;
}

.container-footer a{
    color: var(--text);
    text-decoration: none;
}
.decoration{
    width: 100%;
    padding-top: 2px;
    margin-bottom: 25px;
    background-image: linear-gradient(to right, white 33%,transparent 33%, transparent 66%, white 66%);
}

/*trainig*/
.header-two{
    display: flex;
    width: auto;
    padding: 10px;
}
.back--icon{
    display: flex;
    width: 10vw;
    justify-content: center;
    align-items: center;
    
}
.logo{
    display: flex;
    width: 90vw;
    justify-content: center;
    align-items: center;
}

.back--icon a img{
    width: 30px;
    height: 30px;
}

/*section1*/

.section-trainig{
    width: 100vw;
    text-align: center;
}
.section-trainig h1{
    font-family: "AlegreyaSans";
    color: var(--gris);
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 3.2rem;
}
.mentor-container{
    width: 90vw;
    display: flex;
    gap: 20px;
    height: auto;
    margin: 0 auto 35px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.mentor-container::-webkit-scrollbar{
    display: none;
} 

.mentor-card{
    position: relative;
    scroll-snap-align: center;
    width: 20vw;
    height: 12vh;
}

.mentor-card img{
    width: 66px;
    height: 66px;
    border-radius: 50%;
    object-fit: cover;
}
.mentor-card p{
    color: var(--text);
    font-size: 1.3rem;
    text-align: center;
    line-height: 1.4rem;
    letter-spacing: 1px;
}

/*section2*/
.course-container{
    width: 90vw;
    height: auto;
    margin: 0 auto 35px;
}

.course-container--img{
    width: 90vw;
    height: 20vh;
    margin: 0 auto 11px;
    background-color: #FFFFFF;
    border-radius: 15px;
}

.course-container--text h2{
    font-family: "AlegreyaSans";
    font-size: 2rem;
    color: var(--text);
    line-height: 2.4rem;
    letter-spacing: 0.1rem;
    text-align: center;
    margin-bottom: 8px;
}
.course-container--text p{
    font-size: 1rem;
    font-weight: 300;
    color: var(--text);
    line-height: 1.3rem;
    letter-spacing: 0.1rem;
    text-align:justify;
}
.course-container--text ul{
    margin-left: 30px;
    font-size: 1rem;
    line-height: 1.2rem;
    letter-spacing: 1px;
    color: var(--text);
}

.course-container--text li{
    margin-top: 5px;
}