.container--card{
    max-width: 120px;
    
}

.container-footer ul{
    font-size: 1.8rem;
    line-height: 2.4rem;
}

.description p{
    font-size: 1.8rem;
    line-height: 2.4rem;
}
.mentor-card{
    position: relative;
    width: 40vw;
    height: 30vh;
}

.mentor-card img{
    width: 90px;
    height: 90px
}
.mentor-card p{
    font-size: 1.8rem;
    line-height: 2.4rem;
    letter-spacing: 2px;
}

.course-container--img{
    height: 40vh;
    width: 80vw;

}

.course-container--text h2{
    font-size: 2.4rem;
}
.course-container--text p{
    font-size: 1.8rem;
    line-height: 2.4rem;
}
.course-container--text ul{
    font-size: 1.8rem;
    line-height: 2.4rem;
}
.container-detail{
    width: 50%;
    height: 50px;
}
.container-detail p{
    font-size: 1.3rem;
    line-height: 2.4rem; 
}

.detail p{
    font-size: 1.3rem;
    line-height: 2.4rem;  
}
.proyect--text{
    width: 50%;
}


.proyect--text p{
    font-size: 1.5rem;
    line-height: 2.4rem;
}

.social-icons img{
    width: 50px;
    height: 50px;
}